@model FoodBoxVM[]

<div style="background-color:lightgray; padding:20px;">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <strong>@item.FoodType</strong>
            </li>
        }
    </ul>
</div>