@model HomeIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<label asp-for="Foodname"></label>
<select asp-for="FoodnameItem" asp-items="Model.Foodname" id="FoodValue"></select>
<span asp-validation-for="FoodnameItem"></span>
<input type="button" id="foodButton" value="Okej!" />
