@model HomeIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Öl och Mat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
    <h1>Öl och Mat</h1>
    <label asp-for="Beername"></label>
    <select asp-for="BeernameItem" asp-items="Model.Beername" id="beerValue"></select>
    <span asp-validation-for="BeernameItem"></span>
    <input type="button" id="beerButton" value="Ok!" />
    <input type="button" id="AddbeerButton" value="Add Beer!" />

    <br />
    <div id="showBeer"></div>
    <br />
    <label asp-for="Foodname"></label>
    <select asp-for="FoodnameItem" asp-items="Model.Foodname" id="FoodValue"></select>
    <span asp-validation-for="FoodnameItem"></span>
    <input type="button" id="foodButton" value="Ok!" />
    <br />
    <div id="showFood"></div>











    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $("#beerButton").click(function () {
            var beerId = $("#beerValue").val();
            

            console.log(beerId);
            $.ajax({
                url: "/home/FoodWithBeer/",
                type: "GET",
                data: { "id": beerId  },
                success: function (result) {
                    console.log(result);

                    $("#showBeer").html(result);
                }
            });
        });
        $("#foodButton").click(function () {
            var foodId = $("#FoodValue").val();
            console.log(foodId);
            $.ajax({
                url: "/home/BeerWithFood/",
                type: "GET",
                data: { "id": foodId },
                success: function (result) {
                    console.log(result);

                    $("#showFood").html(result);
                }
            });
        });
        $("#AddbeerButton").click(function () {
            window.location.href = "/home/Create/";
            //var foodId = $("#FoodValue").val();
            //console.log(foodId);
            //$.ajax({
            //    url: "/home/BeerWithFood/",
            //    type: "GET",
            //    data: { "id": foodId },
            //    success: function (result) {
            //        console.log(result);

            //        $("#showFood").html(result);
            //    }
            //});
        });


    </script>

</body>
</html>
